form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid gray;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

